.UserData {
    border: 1px solid #ccc;
    padding: 25px 15px;
}
.UserData .form-control input{
    width: 300px;    
}
.UserData .form-control select{
    width: 280px;    
}
.UserData .form-control button{
    width: 325px;    
}